 lookup ("pipe", 'date +Y-%m-zd-H-M-S*) }}. {t inventory_hostname }}, {t ansible_net _hostname }}, {{ netork_os }}, {{ login_status }}, {{ device_status
{{ ansible_net_version . {t uptime }, {{ ansible_net_image }, {{ ansible _net _serialnum }}, {{ ansible_net model }}
e